* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body{
    font-family: "jost", sans-serif;
}

header {
    background-color: #255EE9;
    padding-bottom: 20px;
}

h1{
    font-size: 60px;
    padding-bottom: 30px;
}

h2{
    font-size: 40px;
    line-height: 1.2;
}

h3{
    font-size: 30px;
    line-height: 1.2;
}

.col100 p{
    padding-bottom: 15px;
}

p{
    font-size: 20px;
}

#link{
    text-align: center;
}

.col50 a{
    color: #fff;
    text-decoration: none;
    margin: 15px;
}

#login{
    display: flex;
    justify-content: right;
}

#accedi{
    text-align: right;
}

.bt{
    background-color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    color: black;
    margin: 0 10px;
}

.btblack{
    background-color: black;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    text-align: right;
    color: white;
    margin: 0 10px;
}

.btviolet{
    background-color: #5865f2;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    color: white;
    margin-top: 30px;
}


.bt2{
    display: flex;
    justify-content: center;  
    padding-top: 20px;
    padding-bottom: 300px;
}

.col100 h2{
    padding-bottom: 20px;
}

.col100 p{
    line-height: 1.5;
}

#ita{
    width:  20px;
}

select{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
}

footer{
    background-color: #2c2f33;
}

/* CLASSI DI LAYOUT */
.container {
    max-width: 1200px;
}

.containersm{
    max-width: 990px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 50px 0px;
}

.rowfooter {
    display: flex;
    padding: 40px 0;
}

.particolare{
    width: 100%;
}

.foot{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.col100{
    width: 100%;
}

.col70{
    width: 70%;
}

.col75{
    width: 100%;
    text-align: center
}

.col50 {
    width: 50%;
}

.col30{
    width: 30%;
}

.col33{
    width: calc(100% / 6 * 2);
    margin-top: 0;

}

.col16{
    width: calc(100% / 6);
    margin-top: 0;
}

.col25 {
    width: 25%;
}

.social{
    padding: 5px 0;
}

.onde-top{
    background-image: url(../img/wave.svg);
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(1141%) hue-rotate(194deg) brightness(117%) contrast(81%);
    height: 100px;
}

.onde-bottom{
    background-image: url(../img/wave.svg);
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(1141%) hue-rotate(194deg) brightness(117%) contrast(81%);
    height: 100px;
}

/* CLASSI DI UTILITY */
.bgsilver {
    background-color: #E7E7E7;
}

.bgjumbo{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgwave{
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgstars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.text-al-center{
    text-align: center;
}

.txt-white{
    color: #fff;
}

.txt-discord{
    color: #5865f2;
}

ul{
    color: white;
    list-style: none;
    font-size: 20px;
}

ul a{
    text-decoration: none;
}

li{
    line-height: 2;
}

.color-white{
    color: white;
}

.linea{
    background-color: #5865f2;
    border: 1px solid #5865f2;
}

.pd30{
    padding: 30px 0;
}

.mg30{
    margin: 30px 0;
}

.mg10{
    margin: 10px 0;
}
.mg1020{
    margin-top: 10px;
    margin-bottom: 20px;
}

.pd-bottom30{
    padding-bottom: 30px;
}

.mg05{
    margin: 0 5px;
}
